/* Estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fffcfc;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  nav {
    background-color: #ffbebe; /* Rosa Pastel */
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: #545355;
    text-decoration: none;
    margin: 0 10px;
    /* display: block; */
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .logo{
    display: flex;
    align-items: center;
    float: left;
}
.logo > img{
    width: 50px;
    height: 40px;
    background: transparent;
    border: none;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .categoria-btns {
    margin-bottom: 20px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  .categoria-btns button {
    background-color: #d361a0; /* Roxo Pastel */
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .categoria-btns button:hover {
    background-color: #a70c80; /* Roxo mais escuro */
  }

  .livro .livro-conteudo {
    display: auto;
  }
  
  .livro {
    background-color: #81d2d6; /* Azul Pastel */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .livro .livro-info   {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .livro h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .livro p {
    font-size: 16px;
    margin-bottom: 10px;
  }

 .livro .imgbook1 {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    margin-right: 0px;
 }


  .sinopse-completa {
    display: none;
  }
  
  .escondido {
    display: none;
  }
  
  .leia-mais {
    color: blue;
    cursor: pointer;
  }
  
  /* Responsividade */
  @media (max-width: 600px) {
    nav a {
      margin: 5px;
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 400px) {
    .livro {
      padding: 10px;
    }

  }

  .footer {
    background-color: #ffbebe;
            color: #000000;
            text-align: center;
            padding: 10px;
            width: 100%;
    position: fixed;
    bottom: 0;
  }
  